@charset "utf-8";
*{
    margin: auto;
}

header.event h1{
    background-color: #FFFBE9;
    padding: 50px;
    font-size: 3em;
    color: rgba(35, 34, 34, 0.808);
}

header.event {
    background-color: #f2e5b1;
    color: black;
    text-align: center;
}

body div {
    padding: 5px;
}

section {
    margin: 20px;
    border: 5px solid rgb(203, 203, 203);
    border-radius: 50px;
    padding: 10px;
}

section#birthdayEvent {
    height: 65px;
    overflow: hidden;
    transition: height 2s;
}

section#birthdayEvent:hover {
    height: 800px;
}

section#customEvent {
    height: 65px;
    overflow: hidden;
    transition: height 2s;
}

section#customEvent:hover {
    height: 860px;
}

section#sevenEvent {
    height: 65px;
    overflow: hidden;
    transition: height 2s;
}

section#sevenEvent:hover {
    height: 1030px;
}

h2 {
    width: 100%;
    margin: 5px auto;
}

header.event img {
    height: 250px;
}

img {
display: block;
margin: 0px auto ;
max-width: 90%;
}

div{
    text-align: center;
}

ul#event {
    text-align: left;
}

form {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}   

form div {
    width: 45%;
}

input {
    width: 90%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

input:focus {
    background-color: rgb(240, 250, 255);
}

select {
    width: 97%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;    
}

input[type=button], input[type=reset] {
    width: 92.5%;
    background-color: grey;
    color: white;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}
