@charset "UTF-8";

body{
   
    background-color: #3939390c; 
}

/* title */
h1{
    background-color: #FFFBE9;
    padding: 50px;
    font-size: 3em;
    color: rgba(35, 34, 34, 0.808);
}

/* form */
.feedbackform{

    display: flex;
    align-items: center;

    padding: 30px;
    margin: 50px auto;

    box-sizing: border-box;
    border: 3px solid #454343;
    border-radius: 15px;
    width: 600px;
}

/* form details */

.formdetails{
    margin: 50px;
    font-size: 1.3em;

}

input[type=text],input[type=email],textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #e0d9d9;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus,input[type=email]:focus,textarea:focus{
    border: 3px solid #454343;
  }

/* table */
table{
    margin: 15px;
    margin-left: -5px;
    text-align: center;
    border: 2px solid #454343;
    border-collapse: collapse;
}

td{
    padding: 15px;
}

th{
    border: 2px solid #454343;
    
}


/* stars */
.star_rating{
    user-select: none;
}

.star{
    font-size: 1.2em;
    color: #ff9800;
}

.star:hover{
    cursor: pointer;
}

.star_rating label{
    overflow: hidden;
}

/* text msg */
.msg{
    display: block;
}


/* button */
#submit{
    background-color: #f66c54;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
