@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #fff3ca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

img {
    width: 80%;
}

.cup-animation {
    width: 100px;
    height: 100px;
    background-color: #ffeeaa;
    border-radius: 50%;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}